/*.home-page {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

.home-page__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.home-page__search {
    margin-right: 30px;
    margin-bottom: 30px;
    text-align: end;
    position: relative;
}

.home-page__search input {
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
    outline: none;
}
.home-page__search-icons {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

/*.home-page__search input:hover {*/
/*    border: none;*/
/*}*/